<div class="logo">
  <a href="https://www.creative-tim.com?ref=bda-sidebar-logo" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png"
       *ngIf="myService.loggedUser !== null || myService.coach !== null" />
    </div>
  </a>
  <a *ngIf="myService.coach !== null && myService.loggedUser == null " class="simple-text logo-normal">
    Coach
  </a>
  <a *ngIf="myService.loggedUser !== null && myService.coach == null " class="simple-text logo-normal">
    Candidates
  </a>
</div>

<div class="sidebar-wrapper">
  
  <ul class="nav">
    <li routerLinkActive="active" *ngIf="myService.coach !== null && myService.loggedUser == null">
      <a routerLink="/addquiz" >
        <i class="tim-icons icon-chart-pie-36"></i>
        <p>Add Quiz</p>
      </a>
    </li>

    <li routerLinkActive="active"  >
      <!-- *ngIf="myService.loggedUser !== null && myService.coach == null" -->
      <a routerLink="/quizlist">
        <i class="tim-icons icon-bullet-list-67"></i>
        <p>Quiz List</p>
      </a>
    </li>

    <li routerLinkActive="active" *ngIf="myService.coach !== null && myService.loggedUser == null">
      <a routerLink="/tables"  >
        <i class="tim-icons icon-puzzle-10"></i>
        <p>Candidates</p>
      </a>
    </li>

    <li routerLinkActive="active"*ngIf="myService.loggedUser !== null && myService.coach == null" >
      <a routerLink="/user"  >
        <i class="tim-icons icon-single-02" ></i>
        <p>User Profile</p>
      </a>
    </li>
     <!-- <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul> -->

    <!-- <li
      routerLinkActive="active"
    >
      <a routerLink="/icons">
        <i class="tim-icons icon-atom"></i>
        <p>Icons</p>
      </a>
    </li> -->

  </ul>
</div>
